In [ ]:
install.packages(c('reshape2','reshape'))

Installing packages into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [ ]:
library(reshape)
library(reshape2)

In [ ]:
volumeData <- read.csv('Volume_228.csv')
priceData <- read.csv('Price_228.csv')

In [ ]:
tail(volumeData)
tail(priceData)

      UPC         W1 W2 W3 W4 W5 W6 W7 W8 W9 ⋯ W219 W220 W221 W222 W223 W224
28862 9.00272e+12 0  0  0  0  0  0  0  0  0  ⋯ NA   NA   NA   NA   NA   NA
28863 9.00272e+12 0  0  0  0  0  0  0  0  0  ⋯ NA   NA   NA   NA   NA   NA
28864 7.31454e+11 0  0  0  0  0  0  0  0  0  ⋯  0    0    0    0    0    0
28865 6.01216e+11 0  0  0  0  0  0  0  0  0  ⋯  0    0    0    0    0    0
28866 6.00753e+11 0  0  1  0  0  0  0  0  0  ⋯ NA   NA   NA   NA   NA   NA
28867 6.02527e+11 0  0  0  0  0  0  0  0  0  ⋯  0    0    0    0    0    0
      W225 W226 W227 W228
28862 NA   NA   NA   NA
28863 NA   NA   NA   NA
28864  0    0    0    0
28865  0    0    0    0
28866 NA   NA   NA   NA
28867  0    0    0    0

      UPC         W1 W2 W3   W4 W5 W6 W7 W8 W9 ⋯ W219  W220  W221  W222  W223
28862 9.00272e+12 NA NA   NA NA NA NA NA NA NA ⋯    NA    NA    NA    NA    NA
28863 9.00272e+12 NA NA   NA NA NA NA NA NA NA ⋯    NA    NA    NA    NA    NA
28864 7.31454e+11 NA NA   NA NA NA NA NA NA NA ⋯  9.99  9.99  9.99  9.99  9.99
28865 6.01216e+11 NA NA   NA NA NA NA NA NA NA ⋯ 13.99 13.99 13.99 13.99 13.99
28866 6.00753e+11 NA NA 1.21 NA NA NA NA NA NA ⋯    NA    NA    NA    NA    NA
28867 6.02527e+11 NA NA   NA NA NA NA NA NA NA ⋯  9.99  9.99  9.99  9.99  9.99
      W224  W225  W226  W227  W228
28862    NA    NA    NA    NA    NA
28863    NA    NA    NA    NA    NA
28864  9.99  9.99  9.99  9.99  9.99
28865 13.99 13.99 13.99 13.99 13.99
28866    NA    NA    NA    NA    NA
28867  9.99  9.99  9.99  9.99  9.99

In [ ]:
moltenVolumeData <- melt(volumeData, id='UPC')
tail(moltenVolumeData)

Warning message in melt(volumeData, id = "UPC"):
“The melt generic in data.table has been passed a data.frame and will attempt to redirect to the relevant reshape2 method; please note that reshape2 is deprecated, and this redirection is now deprecated as well. To continue using melt methods from reshape2 while both libraries are attached, e.g. melt.list, you can prepend the namespace like reshape2::melt(volumeData). In the next version, this warning will become an error.”

        UPC         variable value
6581671 9.00272e+12 W228     NA
6581672 9.00272e+12 W228     NA
6581673 7.31454e+11 W228      0
6581674 6.01216e+11 W228      0
6581675 6.00753e+11 W228     NA
6581676 6.02527e+11 W228      0

In [ ]:
moltenPriceData <- melt(priceData, id='UPC')
tail(moltenPriceData)

Warning message in melt(priceData, id = "UPC"):
“The melt generic in data.table has been passed a data.frame and will attempt to redirect to the relevant reshape2 method; please note that reshape2 is deprecated, and this redirection is now deprecated as well. To continue using melt methods from reshape2 while both libraries are attached, e.g. melt.list, you can prepend the namespace like reshape2::melt(priceData). In the next version, this warning will become an error.”

        UPC         variable value
6581671 9.00272e+12 W228        NA
6581672 9.00272e+12 W228        NA
6581673 7.31454e+11 W228      9.99
6581674 6.01216e+11 W228     13.99
6581675 6.00753e+11 W228        NA
6581676 6.02527e+11 W228      9.99

In [ ]:
# install.packages('data.table')
library(data.table)

In [ ]:
data.table(moltenVolumeData)
data.table(moltenPriceData)

        UPC          variable value
1       6.02517e+11  W1        258
2       6.02527e+11  W1          0
3       6.02528e+11  W1          0
4       6.02527e+11  W1          0
5       6.02528e+11  W1          0
6       7.31455e+11  W1        124
7       6.02527e+11  W1          0
8       6.02528e+11  W1          0
9       6.02537e+11  W1          0
10      6.02537e+11  W1          0
11      6.02527e+11  W1          0
12      6.02537e+11  W1          0
13      6.00753e+11  W1          0
14      7.31451e+11  W1         78
15      6.02528e+11  W1          0
16      6.02499e+11  W1         67
17      6.00753e+11  W1          0
18      6.02528e+11  W1          0
19      6.02537e+11  W1          0
20      6.02528e+11  W1          0
21      6.02527e+11  W1       1521
22      6.02528e+11  W1          0
23      6.02537e+11  W1          0
24      6.02527e+11  W1          0
25      6.02528e+11  W1          0
26      6.02527e+11  W1          0
27      6.00753e+11  W1          0
28      6.02528e+11  W1          0
29      6.02528e+11  W1          0
30      6.02528e+11  W1          0
⋮       ⋮            ⋮        ⋮
6581647 8.817030e+09 W228     NA
6581648 4.400184e+10 W228     NA
6581649 4.400762e+10 W228     NA
6581650 2.894685e+10 W228     NA
6581651 7.314520e+11 W228     NA
6581652 6.024980e+11 W228     NA
6581653 2.894756e+10 W228      0
6581654 2.894776e+10 W228     NA
6581655 6.024990e+11 W228     NA
6581656 2.894776e+10 W228      0
6581657 6.024990e+11 W228     NA
6581658 2.894429e+10 W228     NA
6581659 5.033200e+12 W228     NA
6581660 2.894777e+10 W228     NA
6581661 8.880720e+11 W228     NA
6581662 2.894759e+10 W228     NA
6581663 2.894759e+10 W228     NA
6581664 2.894770e+10 W228     NA
6581665 6.025280e+11 W228      0
6581666 8.880720e+11 W228      0
6581667 6.024980e+11 W228      0
6581668 2.521860e+10 W228     NA
6581669 9.002720e+12 W228      0
6581670 9.002720e+12 W228     NA
6581671 9.002720e+12 W228     NA
6581672 9.002720e+12 W228     NA
6581673 7.314540e+11 W228      0
6581674 6.012160e+11 W228      0
6581675 6.007530e+11 W228     NA
6581676 6.025270e+11 W228      0

        UPC          variable value
1       6.02517e+11  W1        5.140000
2       6.02527e+11  W1              NA
3       6.02528e+11  W1              NA
4       6.02527e+11  W1              NA
5       6.02528e+11  W1              NA
6       7.31455e+11  W1        4.849677
7       6.02527e+11  W1              NA
8       6.02528e+11  W1              NA
9       6.02537e+11  W1              NA
10      6.02537e+11  W1              NA
11      6.02527e+11  W1              NA
12      6.02537e+11  W1              NA
13      6.00753e+11  W1              NA
14      7.31451e+11  W1        6.314615
15      6.02528e+11  W1              NA
16      6.02499e+11  W1        4.871343
17      6.00753e+11  W1              NA
18      6.02528e+11  W1              NA
19      6.02537e+11  W1              NA
20      6.02528e+11  W1              NA
21      6.02527e+11  W1       10.290000
22      6.02528e+11  W1              NA
23      6.02537e+11  W1              NA
24      6.02527e+11  W1              NA
25      6.02528e+11  W1              NA
26      6.02527e+11  W1              NA
27      6.00753e+11  W1              NA
28      6.02528e+11  W1              NA
29      6.02528e+11  W1              NA
30      6.02528e+11  W1              NA
⋮       ⋮            ⋮        ⋮
6581647 8.817030e+09 W228        NA
6581648 4.400184e+10 W228        NA
6581649 4.400762e+10 W228        NA
6581650 2.894685e+10 W228        NA
6581651 7.314520e+11 W228        NA
6581652 6.024980e+11 W228        NA
6581653 2.894756e+10 W228     10.99
6581654 2.894776e+10 W228        NA
6581655 6.024990e+11 W228        NA
6581656 2.894776e+10 W228      9.99
6581657 6.024990e+11 W228        NA
6581658 2.894429e+10 W228        NA
6581659 5.033200e+12 W228        NA
6581660 2.894777e+10 W228        NA
6581661 8.880720e+11 W228        NA
6581662 2.894759e+10 W228        NA
6581663 2.894759e+10 W228        NA
6581664 2.894770e+10 W228        NA
6581665 6.025280e+11 W228      9.99
6581666 8.880720e+11 W228     13.99
6581667 6.024980e+11 W228      9.99
6581668 2.521860e+10 W228        NA
6581669 9.002720e+12 W228     10.99
6581670 9.002720e+12 W228        NA
6581671 9.002720e+12 W228        NA
6581672 9.002720e+12 W228        NA
6581673 7.314540e+11 W228      9.99
6581674 6.012160e+11 W228     13.99
6581675 6.007530e+11 W228        NA
6581676 6.025270e+11 W228      9.99

In [ ]:
# Have to leave merging or joining as these methods were causing memory errors... 
# joinedDataset <- merge(moltenVolumeData, moltenPriceData, by=c('UPC','variable'), all=TRUE)

# After some hit and query...we can confidently bind the rows..
combinedDataset <- cbind(moltenVolumeData, moltenPriceData$value)

In [ ]:
names(combinedDataset) <- c('UPC', 'week','volume','price')
head(combinedDataset,20)
tail(combinedDataset)

   UPC         week volume price
1  6.02517e+11 W1   258    5.140000
2  6.02527e+11 W1     0          NA
3  6.02528e+11 W1     0          NA
4  6.02527e+11 W1     0          NA
5  6.02528e+11 W1     0          NA
6  7.31455e+11 W1   124    4.849677
7  6.02527e+11 W1     0          NA
8  6.02528e+11 W1     0          NA
9  6.02537e+11 W1     0          NA
10 6.02537e+11 W1     0          NA
11 6.02527e+11 W1     0          NA
12 6.02537e+11 W1     0          NA
13 6.00753e+11 W1     0          NA
14 7.31451e+11 W1    78    6.314615
15 6.02528e+11 W1     0          NA
16 6.02499e+11 W1    67    4.871343
17 6.00753e+11 W1     0          NA
18 6.02528e+11 W1     0          NA
19 6.02537e+11 W1     0          NA
20 6.02528e+11 W1     0          NA

        UPC         week volume price
6581671 9.00272e+12 W228 NA        NA
6581672 9.00272e+12 W228 NA        NA
6581673 7.31454e+11 W228  0      9.99
6581674 6.01216e+11 W228  0     13.99
6581675 6.00753e+11 W228 NA        NA
6581676 6.02527e+11 W228  0      9.99

In [ ]:
# write.csv(combinedDataset,'tuzoUPCDataset.csv')

In [ ]:
sortedData <- combinedDataset[order(combinedDataset$UPC),]
sortedData$is.valid.product <- 'valid'
row.names(sortedData) <- NULL
sortedData

        UPC         week volume price is.valid.product
1       8810255023  W1    8     2.840 valid
2       8810255023  W2    6     2.840 valid
3       8810255023  W3    2     2.840 valid
4       8810255023  W4   10     2.840 valid
5       8810255023  W5    9     2.840 valid
6       8810255023  W6    2     2.840 valid
7       8810255023  W7    5     2.840 valid
8       8810255023  W8    4     2.840 valid
9       8810255023  W9    4     2.840 valid
10      8810255023  W10   6     2.840 valid
11      8810255023  W11   5     2.840 valid
12      8810255023  W12   1     2.840 valid
13      8810255023  W13   0        NA valid
14      8810255023  W14   0        NA valid
15      8810255023  W15   2     2.840 valid
16      8810255023  W16   2     2.840 valid
17      8810255023  W17   2     2.840 valid
18      8810255023  W18   3     2.840 valid
19      8810255023  W19   5     2.858 valid
20      8810255023  W20   3     2.870 valid
21      8810255023  W21   2     2.870 valid
22      8810255023  W22   5     2.870 valid
23      8810255023  W23   2     2.870 valid
24      8810255023  W24   2     2.870 valid
25      8810255023  W25   3     2.870 valid
26      8810255023  W26   3     2.870 valid
27      8810255023  W27   0        NA valid
28      8810255023  W28   2     2.870 valid
29      8810255023  W29   1     2.870 valid
30      8810255023  W30   3     2.870 valid
⋮       ⋮           ⋮    ⋮      ⋮     ⋮
6581647 9.39907e+12 W199 1      6.30  valid
6581648 9.39907e+12 W200 0        NA  valid
6581649 9.39907e+12 W201 0        NA  valid
6581650 9.39907e+12 W202 1      6.30  valid
6581651 9.39907e+12 W203 0        NA  valid
6581652 9.39907e+12 W204 0        NA  valid
6581653 9.39907e+12 W205 0        NA  valid
6581654 9.39907e+12 W206 0        NA  valid
6581655 9.39907e+12 W207 0        NA  valid
6581656 9.39907e+12 W208 0        NA  valid
6581657 9.39907e+12 W209 0        NA  valid
6581658 9.39907e+12 W210 0        NA  valid
6581659 9.39907e+12 W211 0        NA  valid
6581660 9.39907e+12 W212 0        NA  valid
6581661 9.39907e+12 W213 0        NA  valid
6581662 9.39907e+12 W214 0        NA  valid
6581663 9.39907e+12 W215 0      9.99  valid
6581664 9.39907e+12 W216 0      9.99  valid
6581665 9.39907e+12 W217 0      9.99  valid
6581666 9.39907e+12 W218 0      9.99  valid
6581667 9.39907e+12 W219 0      9.99  valid
6581668 9.39907e+12 W220 0      9.99  valid
6581669 9.39907e+12 W221 0      9.99  valid
6581670 9.39907e+12 W222 0      9.99  valid
6581671 9.39907e+12 W223 1      9.99  valid
6581672 9.39907e+12 W224 1      9.99  valid
6581673 9.39907e+12 W225 0      9.99  valid
6581674 9.39907e+12 W226 1      9.99  valid
6581675 9.39907e+12 W227 0      9.99  valid
6581676 9.39907e+12 W228 0      9.99  valid

In [ ]:
validInvalidCalculation <- function(x,start_index,end_index){
  subsetted.data <- x[start_index:end_index,]
  length.subsetted.data <- length(subsetted.data$UPC)
  boolPrices <- !is.na(subsetted.data$price)
  for(trueValueIndex in 1:length.subsetted.data){
    if(boolPrices[trueValueIndex] == TRUE){
      start_index <- trueValueIndex
      break
    }
    else{
      subsetted.data[trueValueIndex,]$is.valid.product <- 'invalid'
      subsetted.data[trueValueIndex,]
    }
  }
  for(reverseid in length.subsetted.data:start_index){
    if(boolPrices[reverseid] == TRUE){
      break
    }
    else{
      subsetted.data[reverseid,]$is.valid.product <- "invalid"
    }
  }
  return(subsetted.data)
}



no.of.chunks <- length(sortedData$UPC)/228; 
# no.of.chunks <- 2; 
no.of.items.per.chunk <- 228

for(i in 0:(no.of.chunks - 1)){
  start <- i * no.of.items.per.chunk + 1
  end <- start + no.of.items.per.chunk - 1;

  print(validInvalidCalculation(sortedData, start, end))
}

In [ ]:
naList <- c(NA, NA, 1,2,2,3,NA,NA,4,4,NA,NA)

fillNaList <- function(x,firstBack = FALSE){
  lvls <- NULL
  if(is.factor(x)){
    lvls <- levels(x)
    x <- as.integer(x)
  }

  goodIdx <- !is.na(x)
  print(goodIdx)
  if(firstBack){
    goodVals <- c(x[goodIdx][1], x[goodIdx])
    print(goodVals)
  }
  else{
    goodVals <- c(NA, x[goodIdx])
    print(goodVals)
  }

  fillIdx <- cumsum(goodIdx)+1
  x<- goodVals[fillIdx]

  return(x)
}

print(fillNaList(naList, firstBack = TRUE))


traverseNA <- function(x){
  goodIdx <- !is.na(x)
  for(id in goodIdx){
    if(id){
      print('inside first loop')
      print(id)
      break
    }
  }
  for(reverseid in 12:1){
    if(goodIdx[reverseid] == TRUE){
      print('inside second loop')
      print(x[reverseid])
      break
    }
  }
}

traverseNA(naList)

In [ ]:
length(sortedData$UPC)

In [ ]:
sortedData$UPC[1]